@charset "UTF-8";
/**
*【レスポンシブ対応便利】
* 以下の記述をすることで自動でサイズ調整を行える
* 1rem ＝10px
* htmlタグに設定されているfont-size基準として算出
* デザインカンプが10px なら 1.0rem でコーディングする
* 切り替わるサイズは560px,960pxに設定( md , lg )
* 例：@include mq($breakpoint){}
* 参考：https://note.com/yanada_nomad/n/n9e5e10817748
*/
html {
  font-size: calc(10px + (14 - 10) * ((100vw - 560px) / (960 - 560)));
}

@media screen and (min-width: 0px) and (max-width: 560px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 14px;
  }
}

/**
 * メディアクエリ用
 * 使えるブレイクポイントは md | lg
 */
html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  color: #333333;
  overflow-x: hidden;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 0;
}

.header-container {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFFFFF;
  width: 100%;
}

.title-bar {
  max-width: 1024px;
  height: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.title-bar .title-items {
  display: flex;
}

.title-bar .title-items.-center {
  padding-right: 46px;
  font-weight: bold;
  font-size: 1.15rem;
}

.title-bar > .title-items.-left > .logo {
  margin: auto;
  width: 47px;
  height: 47px;
}

.title-bar > .title-items.-left > .title {
  padding-left: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.title-bar > .title-items.-center > .item:not(:nth-last-child(1)) {
  display: block;
  padding-right: 46px;
}

.title-bar > .title-items.-right > .questionbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  font-size: 1rem;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to right, #FA41CC, #6020B0);
  padding: 0.5rem 2.5rem;
}

.sec-summary {
  width: 100%;
  background-image: url("../../shogo_intermediate/img/楕円形 1.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -8rem left 60%;
  padding: 0 2rem;
}

@media screen and (min-width: 960px) {
  .sec-summary {
    background-position: top -8rem right -15%;
  }
}

.sec-summary > .summary-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 9.3rem 0 8rem 0;
  position: relative;
}

.sec-summary > .summary-container > .title {
  line-height: 3.3rem;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  position: relative;
  z-index: 3;
}

.sec-summary > .summary-container > .content {
  font-size: 1.15rem;
  line-height: 1.7rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.sec-summary > .summary-container > .questionbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  font-size: 1rem;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to right, #FA41CC, #6020B0);
  padding: 0.5rem 2.5rem;
}

.sec-summary > .summary-container > .image {
  width: 40%;
  position: absolute;
  top: 35%;
  right: 0%;
  height: auto;
}

@media screen and (min-width: 960px) {
  .sec-summary > .summary-container > .image {
    width: 50%;
    top: 20%;
    left: 50%;
  }
}

.features-container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 960px) {
  .features-container {
    padding: 0;
  }
}

.features-container > .title {
  line-height: 3.3rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.features-container > .subtitle {
  color: #3BA6C9;
  font-size: 1.15rem;
  line-height: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.features-container > .sec-features {
  width: 100%;
  padding-bottom: 2.15rem;
}

.features-container > .sec-features > .title {
  text-align: center;
  line-height: 2.85rem;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}

.sec-features > .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec-features > .content-wrapper > .image {
  display: block;
  width: 40%;
  object-fit: cover;
  height: auto;
}

@media screen and (min-width: 960px) {
  .content-wrapper > .content-container.-left-padding {
    padding: 5rem;
  }
}

.content-wrapper > .content-container > .point {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 3.4rem;
  margin-bottom: 3.2rem;
}

.content-wrapper > .content-container > .explanation {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.sec-price {
  margin-top: 8.9rem;
  width: 100%;
  background-color: #EEFBFB;
}

.sec-price > .title {
  line-height: 3.3rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  padding-top: 4rem;
}

.sec-price > .subtitle {
  color: #3BA6C9;
  font-size: 1.15rem;
  line-height: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.sec-price > .caution {
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 4.85rem;
}

.sec-price > .price-table {
  width: 68%;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-top: 1px solid #E5E5E5;
  /* テーブルの上の線 */
  border-left: 1px solid #E5E5E5;
  /* テーブルの左の線 */
  display: flex;
  /* 子要素のdtとddを横並びにする */
  flex-wrap: wrap;
  /* 1つのdtとddで1行になるよう改行させる */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.sec-price > .price-table > .title,
.sec-price > .price-table > .data {
  border-bottom: 1px solid #E5E5E5;
  /* 各セルの下の線。テーブルの下の線も補える。 */
  border-right: 1px solid #E5E5E5;
  /* 各セルの右の線。テーブルの右の線も補える。 */
  box-sizing: border-box;
  /* widthの計算を楽にするため */
  font-size: 1.15rem;
  font-weight: bold;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sec-price > .price-table > .title {
  padding-left: 1.35rem;
  width: 40%;
}

.sec-price > .price-table > .data {
  padding-left: 2rem;
  width: calc(100% - 40%);
}
