/**
*【レスポンシブ対応便利】
* 以下の記述をすることで自動でサイズ調整を行える
* 1rem ＝10px
* htmlタグに設定されているfont-size基準として算出
* デザインカンプが10px なら 1.0rem でコーディングする
* 切り替わるサイズは560px,960pxに設定( md , lg )
* 例：@include mq($breakpoint){}
* 参考：https://note.com/yanada_nomad/n/n9e5e10817748
*/

// フォントサイズが自動で変化する最小、最大画面幅(px)
$font_scale_minimum_width: 560;
$font_scale_maximum_width: 960;

// フォントサイズ自動変化機構の最小、最大画面サイズの時のベースフォントサイズ(px)
// PCのデザインしかない場合はPCのデザインサイズの/1.4をすればsp版になる
$font_scale_minimum_size: 10;
$font_scale_maximum_size: 14;

html {
  // ▼▼▼▼ ここから、ベースのフォントサイズをviewportの横幅に従って特定の範囲で自動的に調整する仕組み ▼▼▼▼
  font-size: calc(#{$font_scale_minimum_size}px + (#{$font_scale_maximum_size} - #{$font_scale_minimum_size}) * ((100vw - #{$font_scale_minimum_width}px) / (#{$font_scale_maximum_width} - #{$font_scale_minimum_width})));

  // 560~960まで、自動で大きくなる。960~は$font_scale_maximum_sizeに指定した値
  // ↓↓↓ スマホを想定する560サイズ以下でデザインカンプが来るので 10px なら 1.0rem でコーディングする
  @media screen and (min-width: 0px) and (max-width: #{$font_scale_minimum_width}px) {
    font-size: #{$font_scale_minimum_size}px;
  }

  // ↓↓↓ PCをイメージする960px以上になったら、元のフォントサイズの1.4倍ぐらいに全て拡大される
  @media screen and (min-width: #{$font_scale_maximum_width}px) {
    font-size: #{$font_scale_maximum_size}px;
  }

  // ▲▲▲▲ ここまで、ベースのフォントサイズをviewportの横幅に従って特定の範囲で自動的に調整する仕組み ▲▲▲▲
}

// メディアクエリのためのブレイクポイント
$breakpoints: ('md': 'screen and (min-width: #{$font_scale_minimum_width}px)',
  'lg': 'screen and (min-width: #{$font_scale_maximum_width}px)',
) !default;

/**
 * メディアクエリ用
 * 使えるブレイクポイントは md | lg
 */
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// ここからｃｓｓ書いていく
// デフォルト
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  color: #333333;
  overflow-x: hidden;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

// bodyのデフォルト設定を排除
body {
  margin: 0;
}

a {
  color: #333333;
  text-decoration: none;
}

p {
  // line-height: 1.5em;
}

ul {
  list-style: none;
}


// buttonのデフォルト設定を排除
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 0;
}


// ヘッダー
.header-container {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFFFFF;
  width: 100%;
}

// タイトルバー
.title-bar {
  max-width: 1024px;
  height: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  position: relative;

  .title-items {
    display: flex;

    // menu
    &.-center {
      padding-right: 46px;
      font-weight: bold;
      font-size: 1.15rem;
    }
  }
}

// ロゴとタイトル
.title-bar>.title-items.-left {
  align-items: center;

  >.logo {
    margin: auto;
    width: 47px;
    height: 47px;
  }

  >.title {
    padding-left: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}

// メニュー
.title-bar>.title-items.-center>.item:not(:nth-last-child(1)) {
  display: block;
  padding-right: 46px;
}

// お問い合わせボタン
.title-bar>.title-items.-right {
  // スマホでは表示しない
  display: none;

  @include mq(lg) {
    display: flex;

    >.questionbtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      appearance: none;
      font-size: 1rem;
      color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      background: linear-gradient(to right, #FA41CC, #6020B0);
      padding: 0.5rem 2.5rem;
    }
  }
}

.sec-summary {
  width: 100%;
  background-image: url("../../shogo_intermediate/img/楕円形 1.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -8rem left 60%;
  padding: 0 2rem;

  @include mq(lg) {
    background-position: top -8rem right -15%;
  }

  // 大枠
  >.summary-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 9.3rem 0 8rem 0;
    position: relative;

    // タイトル
    >.title {
      line-height: 3.3rem;
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 3rem;
      position: relative;
      z-index: 3;
    }

    // 内容
    >.content {
      font-size: 1.15rem;
      line-height: 1.7rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    // お問い合わせボタン
    >.questionbtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      appearance: none;
      font-size: 1rem;
      color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      background: linear-gradient(to right, #FA41CC, #6020B0);
      padding: 0.5rem 2.5rem;
    }

    >.image {
      width: 40%;
      position: absolute;
      top: 35%;
      right: 0%;
      height: auto;

      @include mq(lg) {
        width: 50%;
        top: 20%;
        left: 50%;
      }
    }
  }
}

.features-container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 5rem;

  @include mq(lg) {
    padding: 0
  }

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
  }

  >.subtitle {
    color: #3BA6C9;
    font-size: 1.15rem;
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;

  }
}

.features-container>.sec-features {
  width: 100%;
  // margin: 0 auto;
  padding-bottom: 2.15rem;

  >.title {
    text-align: center;
    line-height: 2.85rem;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
  }
}

.sec-features>.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // &:first-child{
  //   margin-right: 11.2rem
  // }
  >.image {
    display: block;
    width: 40%;
    object-fit: cover;
    height: auto;
  }
}

.content-wrapper>.content-container {
  @include mq(lg) {

    &.-left-padding {
      padding: 5rem;
    }
  }

  >.point {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 3.4rem;
    margin-bottom: 3.2rem;

  }

  >.explanation {
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.8rem;
  }
}

.sec-price {
  margin-top: 8.9rem;
  width: 100%;
  background-color: #EEFBFB;

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    color: #3BA6C9;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5rem;

  }

  >.caution {
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 4.85rem;
  }

  >.price-table {
    width: 68%;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-top: 1px solid #E5E5E5;
    /* テーブルの上の線 */
    border-left: 1px solid #E5E5E5;
    /* テーブルの左の線 */
    display: flex;
    /* 子要素のdtとddを横並びにする */
    flex-wrap: wrap;
    /* 1つのdtとddで1行になるよう改行させる */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    >.title,
    >.data {
      border-bottom: 1px solid #E5E5E5;
      /* 各セルの下の線。テーブルの下の線も補える。 */
      border-right: 1px solid #E5E5E5;
      /* 各セルの右の線。テーブルの右の線も補える。 */
      box-sizing: border-box;
      /* widthの計算を楽にするため */
      font-size: 1.15rem;
      font-weight: bold;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    >.title {
      padding-left: 1.35rem;
      width: 40%;
    }

    >.data {
      padding-left: 2rem;
      width: calc(100% - 40%);
    }
  }
}

.sec-question {
  padding-bottom: 6.15rem;

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    color: #3BA6C9;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.3rem;
  }
}

.question-table {
  width: 66%;
  line-height: 1.85rem;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
  /* テーブルの上の線 */

  // border-left: 1px solid #E5E5E5; /* テーブルの左の線 */
  >.title,
  >.data {
    font-size: 1rem;
    font-weight: bold;
    padding: 2.5rem 1.8rem;
    border-bottom: 1px solid #E5E5E5;
    /* テーブルの上の線 */

  }

  >.title {
    text-align: center;

  }

  >.data {
    background-color: #F2F2F2;
  }
}

.sec-blog {
  padding-bottom: 6.15rem;
  background-color: #EEFBFB;

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    color: #3BA6C9;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.85rem;
  }
}

.blog-list {
  display: flex;
  margin: 0 auto;

  justify-content: center;
  // align-items: center;
  padding: 1.5rem 5rem 0 5rem;
}

.blog-card {
  width: 27.5rem;
  height: 27.5rem;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  >.image {
    display: block;
    height: 18.5rem;
    width: 100%;
    object-fit: cover;
  }

  >.content-area {
    height: 9rem;

    padding: 1rem 2.2rem 0 1.28rem;

    >.title {
      margin: 0;
      font-size: 1.27rem; //18px
      font-weight: bold;
      line-height: 1.85rem; //26px
      height: calc(1.85rem * 3);
      // 3行以上は....にする
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      word-break: break-all;
    }

    >.date {
      width: 100%;
      text-align: right;

      display: inline-block;
      margin: 0;
    }
  }
}

.blog-card:not(:first-child) {
  margin-left: 2.15rem;
}

// https://webukatu.com/wordpress/blog/6087/ 良くある質問アコーディオンにする
.accordion-menu {
  width: 66%;
  line-height: 1.85rem;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
  /* テーブルの上の線 */

  >.title {
    font-size: 1rem;
    font-weight: bold;
    padding: 1.8rem 2.5rem;
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  >.content {
    display: none;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 1.8rem 2.5rem;
    border-bottom: 1px solid #E5E5E5;
    /* テーブルの上の線 */
    opacity: 1;
    line-height: 1.85rem;
    height: auto;
  }

  //  最初の一つは開いておく
  >.content:first-of-type {
    display: block;
  }

  // 通常時は表示しない
  // パターン１
  // >.content {
  //   line-height: 0;
  //   height: 0;
  //   opacity: 0;
  //   transition-duration: 0.2s;
  //   display: none;
  // // is-openが付与されると表示
  //   &.is-open {
  //     background-color: #F2F2F2;
  //     font-weight: bold;
  //     padding: 1.8rem 2.5rem;
  //     border-bottom: 1px solid #E5E5E5;
  //     /* テーブルの上の線 */
  //     opacity: 1;
  //     line-height: 1.85rem;
  //     height: auto;
  //   }
  // }
  // パターン2
  // 基本は隠しておいてクリックされたら開く

}

.sec-works {
  padding-bottom: 6.15rem;
  background-color: #FFF;

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    color: #3BA6C9;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.85rem;
  }

  // スライド
  .swiper-slide {
    width: 23rem;
  }
}

.work-card {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height: 30rem;
  margin-right: 4rem;

  >.image {
    border-radius: 8px 8px 0 0;
    display: block;
    height: 51%;
    width: 100%;
    object-fit: cover;
  }

  >.content-area {
    height: 49%;
    padding: 18px;

    >.title {
      margin-bottom: 30px;
    }

    >.content {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.sec-contact {
  background: linear-gradient(to right, #05A5FA, #63FBD7, #67FFD6);
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  padding-bottom: 5rem;

  >.title {
    line-height: 3.3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 4rem;
    color: #FFF;
  }

  >.subtitle {
    color: #FFF;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.85rem;
  }

  .catchcopy {
    color: #FFF;
    font-size: 1.15rem; //16px
    line-height: 1.7rem;
    // font-weight: bold;
    text-align: center;
    margin-bottom: 3.15rem;
  }

  .questionbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background: linear-gradient(to right, #FA41CC, #6020B0);
    padding: 0.5rem 2.5rem;
    display: block;
    margin: 0 auto;
  }
}

.contact-form {
  margin: 0 auto;
  width: 66%;
  background-color: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 2.4rem 4.5rem;

  >.label {
    display: block;
    line-height: 1.85rem; //26px
    margin-bottom: 2.5rem;

    &::after {
      content: '必須';
      font-size: 1rem;
      color: #FFF;
      background-color: #0C449B;
      border-radius: 0.7rem;
      margin-left: 1.65rem;
      padding: 5px 16px;
    }
  }

  .input {
    margin-bottom: 1.8rem;
    width: 55%;
    height: 43px;
    background-color: #EEFBFB;
    border-radius: 3px;
    border: none;

  }

  .textarea {
    background-color: #EEFBFB;
    border-radius: 3px;
    border: none;
    margin-bottom: 1.8rem;

  }

  .privacy-form {
    // margin: 0 auto;
    text-align: center;
    margin-bottom: 2.15rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .checkbox {
      width: 1.4rem;
      height: 1.4rem;
      line-height: 2rem;
      margin-right: 0.7rem;
      //     position: relative;
      // top: 50%;
      // margin: auto;
    }

    .privacy {
      text-align: center;
      line-height: 2rem;

    }
  }
}

.footer-container {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >.corpname {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .rule-list {
    display: flex;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 3.7rem;

    >.privacy {
      margin-right: 2.15rem;
    }

    >.copyright {
      font-size: 1rem;
    }
  }
}
