/**
*【レスポンシブ対応便利】
* 以下の記述をすることで自動でサイズ調整を行える
* 1rem ＝10px
* htmlタグに設定されているfont-size基準として算出
* デザインカンプが10px なら 1.0rem でコーディングする
* 切り替わるサイズは560px,960pxに設定( md , lg )
* 例：@include mq($breakpoint){}
* 参考：https://note.com/yanada_nomad/n/n9e5e10817748
*/

// フォントサイズが自動で変化する最小、最大画面幅(px)
$font_scale_minimum_width: 560;
$font_scale_maximum_width: 960;

// フォントサイズ自動変化機構の最小、最大画面サイズの時のベースフォントサイズ(px)
// PCのデザインしかない場合はPCのデザインサイズの/1.4をすればsp版になる
$font_scale_minimum_size: 10;
$font_scale_maximum_size: 14;

html {
  // ▼▼▼▼ ここから、ベースのフォントサイズをviewportの横幅に従って特定の範囲で自動的に調整する仕組み ▼▼▼▼
  font-size: calc(#{$font_scale_minimum_size}px + (#{$font_scale_maximum_size} - #{$font_scale_minimum_size}) * ((100vw - #{$font_scale_minimum_width}px) / (#{$font_scale_maximum_width} - #{$font_scale_minimum_width})));

  // 560~960まで、自動で大きくなる。960~は$font_scale_maximum_sizeに指定した値
  // ↓↓↓ スマホを想定する560サイズ以下でデザインカンプが来るので 10px なら 1.0rem でコーディングする
  @media screen and (min-width: 0px) and (max-width: #{$font_scale_minimum_width}px) {
    font-size: #{$font_scale_minimum_size}px;
  }

  // ↓↓↓ PCをイメージする960px以上になったら、元のフォントサイズの1.4倍ぐらいに全て拡大される
  @media screen and (min-width: #{$font_scale_maximum_width}px) {
    font-size: #{$font_scale_maximum_size}px;
  }

  // ▲▲▲▲ ここまで、ベースのフォントサイズをviewportの横幅に従って特定の範囲で自動的に調整する仕組み ▲▲▲▲
}

// メディアクエリのためのブレイクポイント
$breakpoints: ('md': 'screen and (min-width: #{$font_scale_minimum_width}px)',
  'lg': 'screen and (min-width: #{$font_scale_maximum_width}px)',
) !default;

/**
 * メディアクエリ用
 * 使えるブレイクポイントは md | lg
 */
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


$default-bax-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$base-white-color: #fff;
$base-font-color: #333333;
$max-container-size: 1024px;
$table-border-color:#E5E5E5;

// ヘッダー
.header-container {
  box-shadow: $default-bax-shadow;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: $base-white-color;
  width: 100%;
}

// ヘッダーのインナー要素
.header-inner {
  height: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: relative;

  @include mq((md)) {
    width: 85%;
    margin: 0 auto;
    padding: 0;

  }

  @include mq(lg) {
    max-width: $max-container-size;
    margin: 0 auto;
    width: 75%;
  }
}

// お問い合わせボタンのデフォルト
@mixin contactBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  font-size: 1rem;
  color: $base-white-color;
  border-radius: 10px;
  box-shadow: $default-bax-shadow;
  background: linear-gradient(to right, #FA41CC, #6020B0);
  padding: 0.5rem 2.5rem;
}

@mixin secTitle {
  line-height: 3.3rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

@mixin secSubTitle() {
  color: #3BA6C9;
  font-size: 1.2rem;

  @include mq(md) {
    font-size: 1.15rem;
  }

  ;
  line-height: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

// お問い合わせボタン
.header-right {
  // スマホでは表示しない
  display: none;

  @include mq(lg) {
    display: flex;

    >.contactbtn {
      @include contactBtn
    }
  }
}

.header-left {
  display: flex;
  align-items: center;

  // ロゴ
  >.logo {
    margin: auto;
    width: 47px;
    height: 47px;
  }

  // ユアコーディング
  >.title {
    padding-left: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}


// 概要
.sec-summary {
  width: 100%;
  padding: 0 2rem;
  // 円形の背景
  background-image: url("../img/blue_boule.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -10rem left 60%;

  @include mq(lg) {
    background-position: top -10rem right -15%;

    // 画面幅が大きくなった時に画像が伸びるように設定
    @media screen and (min-width:1366px) {
      background-size: 60vw;
      background-position: top -10rem right -30%;
    }
  }

  // 大枠
  >.summary-container {
    max-width: $max-container-size;
    margin: 0 auto;
    padding: 9.3rem 0 8rem 0;
    position: relative;

    // タイトル
    >.title {
      line-height: 3.3rem;
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 3rem;
      position: relative;
      z-index: 3;
    }

    // 内容
    >.content {
      font-size: 1.2rem;

      @include mq(md) {
        font-size: 1.15rem;
      }

      ;
      line-height: 1.7rem;
      font-weight: bold;
      margin-bottom: 3rem;
      position: relative;
      z-index: 3;
    }

    // お問い合わせボタン
    >.contact-btn>.contactbtn {
      @include contactBtn();
    }

    >.image {
      // width: 40%;
      width: 50vw;
      position: absolute;
      top: 35%;
      right: 0%;
      height: auto;

      @include mq(lg) {
        width: 50%;
        top: 20%;
        left: 50%;
      }
    }
  }
}

// 特徴
.features-container {
  // max-width: 1040px;//なんで？
  max-width: $max-container-size;

  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 5rem;

  // @include mq(lg) {
  //   // padding: 0
  // }//なんで？

  >.title {
    @include secTitle;
    margin-bottom: 0;
  }

  >.subtitle {
    @include secSubTitle()
  }
}

.features-container>.sec-features {
  width: 100%;
  padding-bottom: 2.15rem;

  >.title {
    text-align: center;
    line-height: 2.85rem;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
  }
}

.sec-features>.content-wrapper {
  // 縦並べ
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  // 横並べ
  @include mq(md) {
    justify-content: space-between;
    flex-direction: row;
  }

  // &:first-child{
  //   margin-right: 11.2rem
  // }
  >.image {
    display: block;
    object-fit: cover;
    height: auto;
    width: 70%;

    @include mq(md) {
      width: 40%;
    }
  }

  .-top-margin {
    margin-top: 1.5rem;

    @include mq(md) {
      margin-top: 0;
    }
  }
}

// 内容
.content-wrapper>.content-container {
  //  SP時は真ん中
  text-align: center;

  @include mq(md) {
    text-align: left;
    padding-left: 3rem;
  }

  @include mq(lg) {
    padding-left: 0;

    &.-left-padding {
      padding: 5rem;
    }
  }

  >.point {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 3.4rem;
    margin-bottom: 3.2rem;

  }

  >.explanation {
    font-size: 1.2rem;

    @include mq(md) {
      font-size: 1.15rem;
    }
  }

  font-weight: bold;
  line-height: 1.8rem;
}


// 価格セクション
.sec-price {
  margin-top: 8.9rem;
  width: 100%;
  background-color: #EEFBFB;

  >.title {
    @include secTitle();
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    @include secSubTitle();
    margin-bottom: 5rem;
  }

  >.caution {
    font-size: 1.2rem;

    @include mq(md) {
      font-size: 1.15rem;
    }

    ;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 4.85rem;
  }

  // 価格テーブル
  >.price-table {
    width: 68%;
    background-color: $base-white-color;
    margin: 0 auto;
    border-top: 1px solid $table-border-color;
    /* テーブルの上の線 */
    border-left: 1px solid $table-border-color;
    /* テーブルの左の線 */
    display: flex;
    /* 子要素のdtとddを横並びにする */
    flex-wrap: wrap;
    /* 1つのdtとddで1行になるよう改行させる */
    box-shadow: $default-bax-shadow;

    >.title,
    >.data {
      border-bottom: 1px solid $table-border-color;
      /* 各セルの下の線。テーブルの下の線も補える。 */
      border-right: 1px solid $table-border-color;
      /* 各セルの右の線。テーブルの右の線も補える。 */
      box-sizing: border-box;
      /* widthの計算を楽にするため */
      font-size: 1.2rem;

      @include mq(md) {
        font-size: 1.15rem;
      }

      ;
      font-weight: bold;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    >.title {
      padding-left: 1.35rem;
      padding-right: 1.35rem;
      width: 55%;

      @include mq(lg) {
        width: 40%;
      }
    }

    >.data {
      width: 45%;
      padding-left: 2rem;

      @include mq(lg) {
        width: 60%;
      }
    }
  }
}

// 良くある質問
.sec-question {
  padding-bottom: 6.15rem;

  >.title {
    @include secTitle();
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    @include secSubTitle();
    margin-bottom: 2.3rem;
  }
}

// https://webukatu.com/wordpress/blog/6087/ 良くある質問アコーディオンにする
.accordion-menu {
  width: 66%;
  line-height: 1.85rem;
  margin: 0 auto;
  border: 1px solid $table-border-color;
  /* テーブルの上の線 */

  >.title {
    font-size: 1rem;
    font-weight: bold;
    padding: 1.8rem 2.5rem;
    border-bottom: 1px solid $table-border-color;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  >.content {
    display: none;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 1.8rem 2.5rem;
    border-bottom: 1px solid $table-border-color;
    /* テーブルの上の線 */
    opacity: 1;
    line-height: 1.85rem;
    height: auto;
    text-align: center; //大画面になると左寄せに違和感があるので真ん中にした
  }

  //  最初の一つは開いておく
  >.content:first-of-type {
    display: block;
  }
}

// ブログセクション
.sec-blog {
  padding-bottom: 6.15rem;
  background-color: #EEFBFB;

  >.title {
    @include secTitle();
    margin-bottom: 0;
    padding-top: 4rem;
  }

  >.subtitle {
    @include secSubTitle();
    margin-bottom: 3.85rem;
  }
}

.blog-list {
  // spは縦並び
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

  // mdから横並び
  @include mq(md) {
    flex-direction: row;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 0;
  }

  @include mq(lg) {
    padding: 1.5rem 5rem 0 5rem;
  }
}

.blog-card {
  width: 27.5rem;
  height: 27.5rem;
  background-color: $base-white-color;
  box-shadow: $default-bax-shadow;
  margin-bottom: 3rem;

  @include mq(md) {
    margin-bottom: 0
  }

  >.image {
    display: block;
    height: 18.5rem;
    width: 100%;
    object-fit: cover;
  }

  >.content-area {
    height: 9rem;
    padding: 1rem 2.2rem 0 1.28rem;

    >.title {
      margin: 0;
      font-size: 1.27rem; //18px
      font-weight: bold;
      line-height: 1.85rem; //26px
      height: calc(1.85rem * 3);
      // 3行以上は省略(....)にする
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      word-break: break-all;
    }

    >.date {
      width: 100%;
      text-align: right;
      display: inline-block;
      margin: 0;
    }
  }
}

.blog-card:not(:first-child) {

  // 一つ目はマージンなし
  @include mq(md) {
    margin-left: 2.15rem;
  }
}

// 制作実績セクション
.sec-works {
  padding-bottom: 6.15rem;
  background-color: $base-white-color;

  >.title {
    @include secTitle();
    padding-top: 4rem;
  }

  >.subtitle {
    @include secSubTitle();
    margin-bottom: 3.85rem;
  }

  .work-wrapper {
    padding-bottom: 1px;
  }

  // スライド
  .swiper-slide {
    width: 23rem;
  }
}

.work-card {
  width: 100%;
  background-color: $base-white-color;
  border-radius: 8px;
  box-shadow: $default-bax-shadow;
  height: 30rem;
  margin-right: 4rem;

  >.image {
    border-radius: 8px 8px 0 0;
    display: block;
    height: 51%;
    width: 100%;
    object-fit: cover;
  }

  >.content-area {
    height: 49%;
    padding: 18px;

    >.title {
      margin-bottom: 30px;
    }

    >.content {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

// お問い合わせセクション
.sec-contact {
  background: linear-gradient(to right, #05A5FA, #63FBD7, #67FFD6);
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  padding-bottom: 5rem;

  >.title {
    @include secTitle();
    padding-top: 4rem;
    color: $base-white-color;
  }

  >.subtitle {
    @include secSubTitle();
    color: $base-white-color;
    margin-bottom: 3.85rem;
  }

  .catchcopy {
    color: $base-white-color;
    font-size: 1.2rem;

    @include mq(md) {
      font-size: 1.15rem;
    }

    ; //16px
    line-height: 1.7rem;
    // font-weight: bold;
    text-align: center;
    margin-bottom: 3.15rem;
  }

  .contactbtn {
    // background-color: transparent;
    // border: none;
    // cursor: pointer;
    // outline: none;
    // appearance: none;
    // font-size: 1rem;
    // color: $base-white-color;
    // border-radius: 10px;
    // box-shadow: $default-bax-shadow;
    // background: linear-gradient(to right, #FA41CC, #6020B0);
    // padding: 0.5rem 2.5rem;

    // display: block;
    // margin: 0 auto;
  }
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  background-color: $base-white-color;
  box-shadow: $default-bax-shadow;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 4.5rem;

  @include mq(md) {
    width: 66%;
  }

  >.label {
    display: block;
    line-height: 1.85rem; //26px
    margin-bottom: 2.5rem;

    &::after {
      content: '必須';
      font-size: 1rem;
      color: $base-white-color;
      background-color: #0C449B;
      border-radius: 0.7rem;
      margin-left: 1.65rem;
      padding: 5px 16px;
    }
  }

  >.submit {
    @include contactBtn();
    width: 11rem;
    margin: 0 auto;
  }

  // お問い合わせボタン押した時のメッセージ
  // 基本は非表示
  .end-message,
  .false-message,
  .input-error-message {
    display: none;
    text-align: center;
    margin-top: 1rem;
  }

  .input-error-message,
  .false-message {
    color: red;
  }

  .input {
    margin-bottom: 1.8rem;
    width: 55%;
    height: 43px;
    background-color: #EEFBFB;
    border-radius: 3px;
    border: none;

  }

  .textarea {
    background-color: #EEFBFB;
    border-radius: 3px;
    border: none;
    margin-bottom: 1.8rem;

  }

  .privacy-form {
    // margin: 0 auto;
    text-align: center;
    margin-bottom: 2.15rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .checkbox {
      width: 1.4rem;
      height: 1.4rem;
      line-height: 2rem;
      margin-right: 0.7rem;
    }

    .privacy {
      text-align: center;
      line-height: 2rem;

    }
  }
}

.footer-container {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >.corpname {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  >.rule-list {
    display: flex;
    font-size: 1.2rem;

    @include mq(md) {
      font-size: 1.15rem;
    }

    ;
    font-weight: bold;
    margin-bottom: 3.7rem;

    >.privacy {
      margin-right: 2.15rem;
    }

    >.copyright {
      font-size: 1rem;
    }
  }
}

// ヘッダーメニューのハンバーガー切り替え
// sp、Tbはハンバーガーメニュー
.header-inner {
  >.portal-layout {
    @include mq(lg) {
      display: none;
    }
  }

  // PC時は横並びのリスト表示
  >.pc-layout {
    display: none;

    @include mq(lg) {
      display: block;
    }
  }
}

// PC時は横並びのリスト表示
.pc-layout>.nav-menu>.menu-list {

  display: flex;
  font-weight: bold;
  font-size: 1.2rem;

  @include mq(md) {
    font-size: 1.15rem;
  }

  ;
  color: $base-white-color;

  @include mq(lg) {
    color: $base-font-color;
    padding-right: 3.2rem;

    .item:not(:nth-last-child(1)) {
      padding-right: 3.2rem;
    }

  }
}

// ▼▼▼▼ここからハンバーガーメニュー三本線。動き込み(✖︎に変形)▼▼▼▼
.menu,
.menu span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
}

.menu {
  position: relative;
  width: 35px;
  height: 22px;
  z-index: 10;
}

.menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 10;
}

.menu span:nth-of-type(1) {
  top: 0px;
}

.menu span:nth-of-type(2) {
  top: 10px;
}

.menu span:nth-of-type(3) {
  bottom: 0px;
}

.menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.menu.active span:nth-of-type(2) {
  opacity: 0;
}

.menu.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

// ▲▲▲▲▲ここまでハンバーガーメニュー三本線。動き込み▲▲▲▲▲
.portal-layout>.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  padding-top: 6.7rem;

  // リスト表示時
  &.active {
    right: 0;
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

// リスト表示時
.portal-layout>.nav-menu>.menu-list>.item {
  border-bottom: solid 1px $base-font-color;

  &:first-child {
    border-top: solid 1px $base-font-color;
    ;
  }

  >.link {
    display: block;
    padding: 1.5rem 0;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: #333;
  }

  &:hover {
    background: pink;
  }
}
